.login-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.contenedor-titulo14{
  display: flex;
  width: auto;
  height: auto;
  align-items: flex-start;
  padding: 40px;
}

.titulos-contacto {
  display: flex;
  flex-direction: column;
  margin: 0 150px;
  margin-top: 0px;
}

.titulo12, .titulo13 {
  width: auto;
  color: rgba(189, 189, 189, 1);
  font-family: Roboto;
  font-weight: Light;
  font-size: 65px;
  opacity: 1;
  text-align: left;
}

.titulo13 {
  width: 267px;
  color: rgba(0, 102, 255, 0.81);
  font-weight: Bold;
  margin-right: 0px;
}

.contenedor-maps {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contenedor-form {
  width:  30%;
  height: auto;
  margin: 20px;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label, .large-text {
  margin-top: 10px;
  font-size: 20px;
}

.large-text {
  padding-bottom: 10px;
  padding-right: 10px;
}

input, textarea {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 15px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.maps {
  width: 50%;
  height: auto;
  margin: 20px; /* Esto añade un margen alrededor del mapa */

}
.mapa-incrustado {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  opacity: 1;
  right: 10px;
  border-radius: 15px;
  border: 0px;
}
.Alert {
  z-index: 100;
}
