
body {
    margin: 0; /* Eliminar los márgenes predeterminados del cuerpo */
    padding: 0;
    width: 100%;
  }
  
  .Cotenedor-global {
    width: 100%;
    height: auto;
    background: rgba(255,255,255,1);
  }
  .contenedor-header {
    width: 98%;
    height: 138px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    overflow: hidden;
    position: relative;
  }
  
  .contenedor-header .menu-item {
    color: rgba(51, 51, 51, 1);
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    text-align: left;
    margin: 0 5px; 
  }
  
  .contenedor-header .separator {
    width: 68px;
    height: 1px;
    background: rgba(51, 51, 51, 1);
    opacity: 1;
    position: relative;
    top: 0;
    overflow: hidden;
  }
  
  .contenedor-header .icono {
    width: 176px;
    height: 138px;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .contenedor-header .imagen {
    width: 112px;
    height: 112px;
    opacity: 1;
    position: absolute;
    top: 12px;
    right: 10px; 
  }
  
  .contenedor-titulo {
    display: flex;
    width: auto;
    height: auto;
    align-items: flex-start;
    padding: 40px;
  }
  
  .titulos {
    display: flex; /* Utiliza flexbox para alinear elementos horizontalmente */
    flex-direction: column; /* Apila elementos verticalmente */
    margin: 0 200px; /* Agrega un margen a la izquierda y a la derecha */
    margin-top: 160px;
  }
  
  
  .v1_22 {
    width: auto; /* Ancho automático en función del contenido */
    color: rgba(189, 189, 189, 1);
    font-family: Roboto;
    font-weight: Light;
    font-size: 64px;
    opacity: 1;
    text-align: left;
    margin-right: 20px; /* Espacio entre los elementos */
  }
  
  .v1_23 {
    width: 267px;
    color: rgba(0, 102, 255, 0.81);
    font-family: Roboto;
    font-weight: Bold;
    font-size: 64px;
    opacity: 1;
    text-align: left;
    margin-right: 20px;
  }
  .contenedor-edificios-oficinas {
    width: 80%;
    height: auto;
    opacity: 1;
    overflow: hidden;
    margin-left: 200px;
    margin-right: 150px;
    align-items: center;
    
  }

  .imagenes-info {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between; /* Distribuye el espacio entre las imágenes */
    width: 1400px;
    height: auto;
  }
  
  .imagenes-oficinas {
    width: calc((100% - 40px) / 3); /* Calcula el ancho para 3 columnas con márgenes */
    height: 315px;
    margin-bottom: 20px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    overflow: hidden;
  }
  
  
  .v1_74 {
    width: 221px;
    height: 71px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 694px;
    left: 948px;
    overflow: hidden;
  }
  .v1_77 {
    width: 109px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 6px;
    left: 0px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }