
body {
  font-size: 14px;
  margin: 0; /* Eliminar los márgenes predeterminados del cuerpo */
  padding: 0;
  width: 100%;
}

.contenedor-header .separator {
  width: 68px;
  height: 1px;
  background: rgba(51, 51, 51, 1);
  opacity: 1;
  position: relative;
  top: 0;
  overflow: hidden;
}

.contenedor-header .icono {
  width: 176px;
  height: 138px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.contenedor-header .imagen {
  width: 112px;
  height: 112px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  right: 0px; 
}

