
body {
  font-size: 14px;
  margin: 0; /* Eliminar los márgenes predeterminados del cuerpo */
  padding: 0;
  width: 100%;
}

.Cotenedor-global {
  width: 100%;
  height: auto;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.contenedor-titulo {
  display: flex;
  width: auto;
  height: auto;
  align-items: flex-start;
  padding: 40px;
}

.titulos {
  display: flex; /* Utiliza flexbox para alinear elementos horizontalmente */
  flex-direction: column; /* Apila elementos verticalmente */
  margin: 0 200px; /* Agrega un margen a la izquierda y a la derecha */
  margin-top: 160px;
}


.v1_22 {
  width: auto; /* Ancho automático en función del contenido */
  color: rgba(189, 189, 189, 1);
  font-family: Roboto;
  font-weight: Light;
  font-size: 65px;
  opacity: 1;
  text-align: left;
}

.v1_23 {
  width: 267px;
  color: rgba(0, 102, 255, 0.81);
  font-family: Roboto;
  font-weight: Bold;
  font-size: 65px;
  opacity: 1;
  text-align: left;
  margin-right: 0px;
}
.v1_24 {
  width: 900px;
  height: 724px;
  overflow: hidden;
}

.contenedor-info {
  width: 85%;
  height: 400px;
  margin-left: 140px;
  margin-top: 300px;
  display: flex;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.734);
}

.imagenes-info {
  width: auto;
  height: auto;
  display: flex;
}

.oficinas1 {
  width: 320px;
  height: 260px;
  margin-right: 20px; /* Espacio entre las imágenes */
  margin-left: 20px; /* Espacio entre las imágenes */

}

.texto-info {
  width: 422px;
  background-color: rgba(240, 240, 240, 0.734);
  padding: 10px;
  align-items: center;
}

.v1_55 {
  width: 470px;
  color: rgba(189, 189, 189, 1);
  font-family: Roboto;
  font-weight: Light;
  font-size: 48px;
  text-align: left;
}

.v1_61 {
  width: 123px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.v1_62 {
  color: rgba(51, 51, 51, 1);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  text-align: left;
}

.v1_64 {
  width: 400px;
  color: rgba(0, 0, 0, 1);
  font-family: Roboto;
  font-weight: Light;
  font-size: 16px;
  text-align: left;
}

.v1_73 {
  width: 1400px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 300px;
  margin-left: 200px;
}

.v1_79 {
  color: rgba(102, 102, 102, 0.599);
  width: 100px;
  width: auto;
  font-size: 60px; /* Estilo para el título "Edificio" */
  margin-bottom: 15px;
}

.texto-oficina {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;

}
.imagenes-edificio {
  width: 100%; 
  overflow: hidden;
  white-space: nowrap; /* Evitar que las imágenes se envuelvan a la siguiente línea */
  margin-bottom: 5px;
}

.edificio-1 {
  width: 700px;
  height: 300px;
  display: inline-block; /* Mostrar las imágenes en línea horizontalmente */
  margin-right: 20px; /* Espacio entre las imágenes (ajusta según tus necesidades) */
  transition: transform 0.5s ease;
}
.edificio-1:hover {
  transform: scale(1.05); 
}
.imagenes-edificio2{
  width: 100%; 
  overflow: hidden;
  white-space: nowrap; /* Evitar que las imágenes se envuelvan a la siguiente línea */

}
.edificio-3 {
  width: 455px;
  height: 300px;
  display: inline-block; /* Mostrar las imágenes en línea horizontalmente */
  margin-right: 20px; /* Espacio entre las imágenes (ajusta según tus necesidades) */
  transition: transform 0.5s ease;
}

.edificio-3:hover {
  transform: scale(1.05); 
}
.v1_74 {
  width: 221px;
  height: 71px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 694px;
  left: 948px;
  overflow: hidden;
}
.v1_76 {
  width: 143px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 39px;
  overflow: hidden;
}
.v1_77 {
  width: 109px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_84 {
  width: 70px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 4px;
  overflow: hidden;
}
.v1_85 {
  width: 43px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4px;
  left: 0px;
  font-family: Gothic A1;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

.v1_87 {
  width: 237px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}